<%= search_form_for @q, url: "/search" do |f| %>
      <%= f.label :name_or_description_cont %>
      <%= f.search_field :name_or_description_cont %>
      <%= f.submit "search" %>

      <%= f.label :categories_name_eq, "Category" %>
      <%= f.select :categories_name_eq, options_from_collection_for_select(Category.all, :name, :name, @q.categories_name_eq), { :include_blank => true }%>
      <% end %>
<% if @products.present? %>
  <h1 class="title is-3">Products:</h1>
  <div class="columns is-multiline">
  <%= render partial: 'products/product', collection: @products, locals: { show_link: true } %>
  <div class="column">
  </div>
</div>
<% end %>