<div class="column is-half">
<div class="card">
  <div class="card-content">
    <p class="title">
      <% if show_link %>
        <%= link_to product.name, product %>
      <% else %>
        <%= product.name %>
      <% end %>
    </p>
    <% if product.image.present? %>
      <%= image_tag product.image.variant(resize_to_limit: [200,200]) %>
    <% end %>
    <p><%= product.description %></p>
    <p><%= number_to_currency product.price %></p>
    <p>In stock: <%= product.quantity %></p>
    <% if !cart.include?(product) %>
      <%= form_with url: cart_index_path do %>
        <%= hidden_field_tag(:id, product.id) %>
        <%= button_tag 'Add to Cart'%>
      <% end %>
    <% else %>
      <%= button_to cart_path(product), method: :delete do %>
        Remove From Cart
      <% end %>
    <% end %>
  </div>
  <footer class="card-footer">
    <% if !show_link %>
      <% product.categories.each do |pc| %>
        <p class="card-footer-item"><%= link_to pc.name, pc %></p>
      <% end %>
    <% end %>
  </footer>
</div>
</div>
