<h1><%= @Product.name %></h1>
<% if @Product.image.present? %>
  <%= image_tag @Product.image.variant(resize_to_limit: [200,200]) %>
<% end %>
<p><%= @Product.description %></p>
<p>In Stock: <%= @Product.quantity %></p>
<p>Price: $<%=@Product.price%></p>
<p><strong>Categories: </strong></p>
<ul>
  <% @Product.categories.each do |pc| %>
    <li><%= link_to pc.name, pc %></li>
  <%end%>
</ul>

<p>Find me in app/views/products/show.html.erb</p>
