<!DOCTYPE html>
<html>
  <head>
    <title>CairoCreations</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
  </head>
  <body>
  <section class="section">
    <div class="container">
      <nav role="navigation" aria-label="main navigation" class="navbar is-fixed-top">
        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start">
            <p class="navbar-item"><%= link_to "Cairo Creations", root_path %></p>
            <p class="navbar-item"><%= link_to "Trouble finding something?", "/search" %></p>
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">Cart</a>
              <% if cart.present? %>
              <div class="navbar-dropdown">
                <% cart.each do |pr| %>
                <p class="navbar-item"><%= pr.name %> <%= link_to '   X', cart_path(pr), method: :delete %></p>
                <% end %>
              </div>
              <% else %>
              <div class="navbar-dropdown">
                <p class="navbar-item">Your cart is empty.</p>
              </div>
              <% end %>
            </div>
          </div>
          <div class="navbar-end">
            <% if customer_signed_in? %>
              <div class="navbar-item has-dropdown is-hoverable">
                <p class="navbar-link"> <%= current_customer.email %></p>
                <div class="navbar-dropdown">
                  <p class="navbar-item"><%= link_to 'Edit Profile', edit_customer_registration_path %></p>
                  <p class="navbar-item"><%= link_to 'Logout', destroy_customer_session_path, method: :delete %></p>
                </div>
              <% else %>
                <p class="navbar-item"><%= link_to "Sign up", new_customer_registration_path %></p>
                <p class="navbar-item"><%= link_to "Login", new_customer_session_path %></p>
              <% end %>
              </div>
          </div>
        </div>
      </nav>
      <%= yield %>
    </div>
  </section>
  </body>
</html>
