<!DOCTYPE html>
<html>
  <head>
    <title>CairoCreations</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
  </head>
  <header>
  <%= link_to "Trouble finding something?", "/search"%>
    <!--
    <%= form_tag(search_page_path, :method => "get",
    class: 'navbar-form navbar-left') do %>
  <div class="input-group">
    <%= search_field_tag :search, params[:search], placeholder: "Search", class: "form-control" %>
    <div class="input-group-btn">
      <%= button_tag "Search", :class => 'btn btn-info glyphicon glyphicon-search',:name => nil%>
    </div>
  </div> -->
<% end %>
  </header>
  <body>
    <%= yield %>
  </body>
</html>
